@charset "utf-8";
/* CSS Document */
body {
	padding:0;
	margin:0;
	background-image: url(../Images/Background.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	overflow: hidden;
	color: #FFF;
}
section {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height:100vh;
	padding-left: 16vw;
	padding-right: 16vw;
	margin-top: 8vh;
	}
button {
    background: transparent;
    border: none;
}
footer {position:fixed;
   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
   background-color:#000000;
}
footer p{
	position: absolute;
	bottom: 0px;
	left: 50px;
	color: white;
	}

footer a{ text-decoration:none;
		color: white;
}
footer a:hover{ text-decoration:blink;
		color: blue;}
#PlayPod{
	height:10vh;
	position: relative;
	top:19.5vh;
	left:20vw;
	}
#PausePod{
	height:10vh;
	position: relative;
	top:20vh;
	left:19.5vw;
	}
#StopPod{
	height:10vh;
	position: relative;
	top:20vh;
	left:19vw;
	}
#Pod{
	height:40vh;
	position: relative;
	top: 12vh;
	
	}
#PlayRad{
	height:10vh;
	position: relative;
	top: 19vh;
	left: 2vw;
	}
#PauseRad{
	height:10vh;
	position: relative;
	top: 19vh;
	left: 1.5vw;
	}
#StopRad{
	height:10vh;
	position: relative;
	top: 19vh;
	left: 1vw;
	}
#Rad{
	height:25vh;
	position: relative;
	top: 0vh;
	left: -13vw;
	}
#VolUp{
	height:10vh;
	position: relative;
	left: -37vw;
	top: 40vh;
	}
#VolDn{
	height:10vh;
	position: relative;
	left: -35vw;
	top: 40vh;
	}